<template>
  <section class="bg-img pb-96 my-16 pt-32">
    <div class="flex justify-center md:justify-between">
      <img
        src="../../../assets/img/XMLID_1_(3).png"
        class="w-32 lg:w-2/5 hidden md:block -mt-5"
      />
      <h3 class="text-white text-cen text-2xl font-black">منو شماره ۲</h3>
      <img
        src="../../../assets/img/XMLID_1_(3).png"
        class="w-32 lg:w-2/5 hidden md:block -mt-5"
      />
    </div>
    <Slider-card-section2 :slideCount="3">
      <!-- <Slide v-for="(item, i) in items" :key="i" :index="i">
        <img
          width="500px"
          :src="item"
          :srcset="item"
          class="-mt-5"
        />
      </Slide> -->
      <Slide :index="0">
        <div>
          <img
            width="500"
            src="../../../assets/img/Rectangle22.png"
            class="-mt-5"
          />
          <h3 class="text-white -mt-10 ml-32">
            توضیحات مختصر مربوط به عکس بالا
          </h3>
        </div>
      </Slide>
      <Slide :index="1">
        <div>
          <img
            width="500"
            src="../../../assets/img/Rectangle27.png"
            class="-mt-5"
          />
          <h3 class="text-white -mt-10 ml-32">
            توضیحات مختصر مربوط به عکس بالا
          </h3>
        </div>
      </Slide>
      <Slide :index="2">
        <div>
          <img
            width="500"
            src="../../../assets/img/Rectangle22(1).png"
            class="-mt-5"
          />
          <h3 class="text-white -mt-10 ml-32">
            توضیحات مختصر مربوط به عکس بالا
          </h3>
        </div>
      </Slide>
    </Slider-card-section2>
  </section>
</template>

<script>
import SliderCardSection2 from '@/components/main/section-2/SliderCardSection2';
import Slide from '@/components/main/section-2/Slide';
export default {
  name: 'SliderSection2',
  components: {
    SliderCardSection2,
    Slide,
  },
};
</script>

<style scoped>
.bg-img {
  background-image: url('../../../assets/img/Vector(3).png');
  background-size: cover;
}
</style>
