<template>
  <section class="relative bg-img w-full py-14 my-16">
    <img
      class="absolute top-32"
      style="filter: brightness(70%)"
      width="25"
      src="../../../assets/img/XMLID_1_(2).png"
      alt=""
    />
    <img
    width="120"
      class="absolute top-3/4 left-0 mt-8"
      style="filter: brightness(70%)"
      src="../../../assets/img/Frame.png"
      alt=""
    />
    <div class="flex flex-col items-center">
      <div class="flex">
        <img
          style="filter: brightness(70%)"
          width="30"
          src="../../../assets/img/Group(4).png"
          alt=""
        />
        <h3 class="text-white text-2xl font-black mx-12">منو شماره ۴</h3>
        <img
          style="filter: brightness(70%)"
          width="30"
          src="../../../assets/img/Group(3).png"
          alt=""
        />
      </div>
      <div class="py-16">
        <Slider-card class="mx-10 sm:mx-0" :sliderCount="sliderCount" />
      </div>
      <div class="flex w-full justify-center">
        <button @click="NextSlide" class="ml-14 -mt-4">
          <i class="fal fa-chevron-square-right text-3xl text-white"></i>
        </button>
        <div
          v-for="(item, i) in 3"
          :key="i"
          class="circle bg-gray-dark ml-2"
        ></div>
        <div
          :class="{ 'bg-blue': sliderCount == 3 }"
          class="circle bg-white"
        ></div>
        <div
          :class="{ 'bg-blue': sliderCount == 2 }"
          class="circle bg-white"
        ></div>
        <div
          :class="{ 'bg-blue': sliderCount == 1 }"
          class="circle bg-white"
        ></div>
        <div
          v-for="(item, i) in 3"
          :key="i"
          class="circle bg-gray-dark mr-2"
        ></div>
        <button @click="PreviouSlide" class="mr-14 -mt-4">
          <i class="fal fa-chevron-square-left text-3xl text-white"></i>
        </button>
      </div>
    </div>
  </section>
</template>
<script>
import SliderCard from './SliderCard.vue';
export default {
  name: 'SliderSectin4',
  components: {
    SliderCard,
  },
  data() {
    return {
      sliderCount: 1,
    };
  },
  methods: {
    NextSlide() {
      this.sliderCount++;
      if (this.sliderCount > 3) {
        this.sliderCount = 1;
      }
    },
    PreviouSlide() {
      this.sliderCount--;
      if (this.sliderCount < 1) {
        this.sliderCount = 3;
      }
    },
  },
};
</script>

<style scoped>
.bg-blue {
  background-color: #019cd5 !important;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.bg-img {
  background-image: url('../../../assets/img/Group 36.png');
}
</style>
