<template>
  <div class="flex">
    <!-- <div
      v-for="(item, i) in items"
      :key="i"
      class="hidden"
      :class="{ avtiv: sliderCount == item.count }"
    >
      <img width="500" :src="item.src" alt="" />
      <h3 class="text-white -mt-10 mr-4">{{ item.title }}</h3>
    </div> -->
    <div class="hidden" :class="{ avtiv: sliderCount == 1 }">
      <img width="500" src="../../../assets/img/Rectangle22.png" alt="" />
      <h3 class="text-white -mt-10 mr-4">توضیحات مختصر مربوط به عکس بالا</h3>
    </div>
    <div class="hidden" :class="{ avtiv: sliderCount == 2 }">
      <img width="500" src="../../../assets/img/Rectangle22(1).png" alt="" />
      <h3 class="text-white -mt-10 mr-4">توضیحات مختصر مربوط به عکس بالا</h3>
    </div>
    <div class="hidden" :class="{ avtiv: sliderCount == 3 }">
      <img width="500" src="../../../assets/img/Rectangle27(1).png" alt="" />
      <h3 class="text-white -mt-10 mr-4">توضیحات مختصر مربوط به عکس بالا</h3>
    </div>
  </div>
</template>
<script>
export default {
  name: 'SliderCard',
  props: {
    sliderCount: {
      type: Number,
      default: 1,
    },
  },
  data() {
    return {
      // items: [
      //   {
      //     src: '../../../assets/img/Rectangle22.png',
      //     count: 1,
      //     title: 'توضیحات مختصر مربوط به عکس بالا',
      //   },
      //   {
      //     src: '../../../assets/img/Rectangle27.png',
      //     count: 2,
      //     title: 'توضیحات مختصر مربوط به عکس بالا',
      //   },
      //   {
      //     src: '../../../assets/img/Rectangle22(1).png',
      //     count: 3,
      //     title: 'توضیحات مختصر مربوط به عکس بالا',
      //   },
      // ],
    };
  },
};
</script>

<style scoped>
.avtiv {
  display: block;
  transition-duration: 1s;
  animation: slider 2s;
  animation-timing-function: ease-out;
}
@keyframes slider {
  0% {
    opacity: 30%;
  }
  50% {
    opacity: 80%;
  }

  100% {
    opacity: 100%;
  }
}
</style>
