<template>
  <div class="relative">
    <section
      class="
        mx-5
        md:mx-36
        py-32
        flex
        justify-center
        lg:justify-between
        items-center
        flex-wrap
      "
    >
      <Featur-card
        class="my-2 lg:my-0"
        v-for="(item, i) in items"
        :key="i"
        :title="item.title"
        :description="item.description"
        :width="item.width"
        :height="item.height"
        :color="item.color"
      />
    </section>
    <img
      style="filter: contrast(40%);filter: opacity(20%)"
      width="35"
      class="absolute top-0 left-0 -mt-32"
      src="../../../assets/img/XMLID_1_.png"
      alt=""
    />
  </div>
</template>

<script>
import FeaturCard from '@/components/main/FeaturesCard/FeaturCard';
export default {
  name: 'Feathers',
  components: {
    FeaturCard,
  },
  data() {
    return {
      items: [
        {
          title: 'ویژگی اول',
          description:
            ' لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع باهدف بهبود ابزارهای کاربردی می باشد،',
        },
        {
          width: '20rem',
          height: '20rem',
          color: '#FD3D39',
          title: 'ویژگی سوم',
          description:
            ' لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع باهدف بهبود ابزارهای کاربردی می باشد،',
        },
        {
          title: 'ویژگی دوم',
          description:
            ' لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع باهدف بهبود ابزارهای کاربردی می باشد،',
        },
      ],
    };
  },
};
</script>

<style scoped>
img {
  filter: grayscale(15%);
}
</style>
