<template>
  <div
    :style="{ width: width, height: height, backgroundColor: color }"
    class="px-3 rounded-3xl flex flex-col justify-center text-center"
  >
    <h3 class="mb-5 text-white text-3xl font-bold">{{ title }}</h3>
    <p class="text-white text-sm w-50">
      {{ description }}
    </p>
  </div>
</template>

<script>
export default {
  name: 'FeaturCard',
  props: {
    title: {
      type: String,
      require: true,
    },
    description: {
      type: String,
      require: true,
    },
    width: {
      type: String,
      default: '18rem',
    },
    height: {
      type: String,
      default: '18rem',
    },
    color: {
      type: String,
      default: '#019CD5',
    },
  },
};
</script>

<style scoped>
div {
  transition: all 1s ease-in-out;
}
div:hover {
  transform: scale(1.2);
  filter: grayscale(25%);
}
</style>
