<template>
  <section>
    <div
      class="
        flex flex-wrap
        justify-center
        lg:justify-between
        mx-5
        md:mx-36
        py-5
      "
    >
      <div class="w-1/2">
        <h3 class="font-bold mb-4 text-xl">منو شماره ۳</h3>
        <p class="leading-loose">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است
        </p>
        <button
          class="
            hover:bg-primary hover:text-white
            duration-500
            border border-gray-dark
            text-gray-dark
            mt-5
            px-5
            py-2
            rounded-md
            text-sm
          "
        >
          بیشتر بدانیم
        </button>
      </div>
      <div class="my-2 lg:my-0">
        <img width="400" src="../../assets/img/Rectangle27.png" alt="" />
      </div>
    </div>
    <img class="-mt-14" width="100" src="../../assets/img/XMLID_1_(1).png" alt="" />

  </section>
</template>

<script>
export default {
  name: 'DescriptionCard',
};
</script>

<style></style>
