<template>
  <section class="flex flex-col text-center px-5 md:px-16 py-16">
    <h3 class="font-black text-2xl">منو شماره ۵</h3>
    <div class="flex flex-wrap justify-center pt-16">
      <div class="flex flex-col">
        <label for="name" class="text-sm ml-32 mb-2">نام ونام خواندگی</label>
        <input
          placeholder="نام ونام خواندگی خود را وارد کنید"
          type="text"
          id="name"
          class="
            border border-gray-light
            rounded-md
            text-xs
            pl-14
            pr-3
            py-2
            hover:border-gray-dark
            duration-500
            focus:outline-none focus:border-gray-dark
          "
        />
      </div>
      <div class="flex flex-col mx-4">
        <label for="phone" class="text-sm ml-36 mb-2">شماره تماس</label>
        <input
          placeholder="شماره تماس خود را وارد کنید"
          type="text"
          id="phone"
          class="
            border border-gray-light
            rounded-md
            text-xs
            pl-14
            pr-3
            py-2
            hover:border-gray-dark
            duration-500
            focus:outline-none focus:border-gray-dark
          "
        />
      </div>
      <div class="flex flex-col">
        <label for="email" class="text-sm ml-48 mb-2">ایمیل</label>
        <input
          placeholder="ادرس ایمیل خود را وارد کنید"
          type="text"
          id="email"
          class="
            border border-gray-light
            rounded-md
            text-xs
            pl-14
            pr-3
            py-2
            hover:border-gray-dark
            duration-500
            focus:outline-none focus:border-gray-dark
          "
        />
      </div>
    </div>
    <div class="flex flex-col items-center mt-5">
      <label for="message" class="text-sm mb-2" style="margin-left: 59%"
        >پیام</label
      >
      <textarea
        style="width: 61%"
        placeholder="اینجا بنویسید..."
        id="message"
        rows="3"
        class="
          duration-500
          w-3/5
          text-xs
          pt-2
          pr-2
          rounded-md
          border border-gray-light
          hover:border-gray-dark
          focus:outline-none focus:border-gray-dark
        "
      ></textarea>
    </div>
    <div class="pt-10 text-left" style="margin-left: 20%">
      <button
        style="font-size: 1.16rem"
        class="bg-primary text-white px-16 py-2 rounded-3xl text-xs"
      >
        CAT
      </button>
    </div>
  </section>
</template>

<script>
export default {
  name: 'FormSection',
};
</script>

<style></style>
