@import './taillwind.scss';
@font-face {
  font-family: vazir;
  src: url('../font/Vazir.ttf');
}
@font-face {
  font-family: Poppins;
  src: url('../font/Poppins-Black.ttf');
}
body {
  font-family: vazir;
  direction: rtl;
}
.Poppins {
  font-family: Poppins;
}

