<template>
  <header
    class="
      bg-white
      z-50
      px-2
      md:px-16
      flex
      justify-between
      shadow-lg
      fixed
      w-full
      items-center
    "
  >
    <div>
      <button
        style="font-size: 1.16rem"
        class="bg-primary text-white px-16 py-2 rounded-3xl text-xs"
      >
        CAT
      </button>
    </div>
    <VerticalMenu class="block md:hidden" />
    <HorizontalMenu class="hidden md:block" />
    <div class="mt-1">
      <h2 style="font-size: 4rem" class="text-black Poppins">LOGO</h2>
    </div>
  </header>
</template>

<script>
import VerticalMenu from '@/components/header/VerticalMenu';
import HorizontalMenu from '@/components/header/HorizontalMenu';
export default {
  name: 'Header',
  components: {
    VerticalMenu,
    HorizontalMenu,
  },
};
</script>

<style></style>
