<template>
  <div class="flex">
    <a
      style="font-size: 1.09rem"
      class="mx-3 mt-3 text-gray-dark hover:text-primary duration-500"
      v-for="(item, i) in menu"
      :key="i"
      :href="`#${item.id}`"
    >
      {{ item.title }}</a
    >
  </div>
</template>

<script>
export default {
  name: 'HorizontalMenu',
  data() {
    return {
      menu: [
        { title: 'منو شماره ۱', id: 1 },
        { title: 'منو شماره ۲', id: 2 },
        { title: 'منو شماره ۳', id: 3 },
        { title: 'منو شماره ۴', id: 4 },
        { title: 'منو شماره ۵', id: 5 },
        { title: 'فوتر', id: 6 },
      ],
    };
  },
};
</script>

<style></style>
