<template>
  <div class="mt-2">
    <button @click="showMenu = !showMenu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="35"
        height="35"
        viewBox="0 0 24 24"
      >
        <path
          d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 17h-12v-2h12v2zm0-4h-12v-2h12v2zm0-4h-12v-2h12v2z"
        />
      </svg>
    </button>
    <div v-if="showMenu" class="flex flex-col fixed">
      <a
        style="font-size: 1.09rem"
        class="mx-3 mt-3 text-gray-dark hover:text-primary duration-500"
        @click="showMenu = !showMenu"
        v-for="(item, i) in menue"
        :key="i"
        :href="`#${item.id}`"
      >
        {{ item.title }}</a
      >
    </div>
  </div>
</template>

<script>
export default {
  name: 'VerticalMenu',
  data() {
    return {
      showMenu: false,
      menue: [
        { title: 'منو شماره ۱', id: 1 },
        { title: 'منو شماره ۲', id: 2 },
        { title: 'منو شماره ۳', id: 3 },
        { title: 'منو شماره ۴', id: 4 },
        { title: 'منو شماره ۵', id: 5 },
        { title: 'فوتر', id: 6 },
      ],
    };
  },
};
</script>

<style></style>
