<template>
  <footer>
    <div
      class="
        flex
        justify-between
        md:justify-between
        py-16
        px-8
        md:px-10
        bg-black
        flex-wrap
      "
    >
      <div class="-mt-6" style="width: 36%">
        <h2 style="font-size: 3rem" class="Poppins text-white">LOGO</h2>
        <p class="text-white" style="font-size: 0.8rem">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
          ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
          کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
        </p>
      </div>
      <div class="w-2/4 md:w-2/12">
        <h2 class="text-white font-black">دسترسی سریع</h2>
        <div class="flex flex-col mt-3">
          <a
            style="font-size: 1rem"
            class="mx-3 mt-3 text-white"
            v-for="(item, i) in menue"
            :key="i"
            :href="`#${item.id}`"
          >
            {{ item.title }}</a
          >
        </div>
      </div>
      <div style="width: 30%">
        <h2 class="text-white font-black w-1/3">تماس باما</h2>
        <div class="mt-6">
          <div class="flex">
            <i class="fas fa-map-marker-alt text-white ml-2"></i>
            <h3 class="text-white">
              تهران,پاستاران,خیابان نجفی,گوچه اقاقیا,پلاک۷ واحد۱۱
            </h3>
          </div>
          <div class="flex col-start-auto my-2">
            <i class="fas fa-phone-alt text-white ml-2"></i>
            <h3 class="text-white">2222222222(+98)</h3>
          </div>
          <div class="flex">
            <i class="fas fa-print text-white ml-2"></i>
            <h3 class="text-white">2222222222(+98)</h3>
          </div>
          <div class="flex my-2">
            <i class="fas fa-envelope text-white ml-2"></i>
            <h3 class="text-white">intor@pack-elevator.com</h3>
          </div>
          <div class="flex flex-wrap">
            <i
              class="
                fab
                fa-twitter
                text-2xl text-white
                hover:text-primary
                duration-500
              "
            ></i>
            <i
              class="
                mx-1
                md:mx-7
                fab
                fa-facebook
                text-2xl text-white
                hover:text-primary
                duration-500
              "
            ></i>
            <i
              class="
                fab
                fa-instagram
                text-2xl text-white
                hover:text-accent
                duration-500
              "
            ></i>

            <i
              class="
                mx-1
                md:mx-5
                fab
                fa-linkedin
                text-2xl text-white
                hover:text-primary
                duration-500
              "
            ></i>
          </div>
        </div>
      </div>
      <div class="-mt-10">
        <button
          class="px-6 py-4 flex text-white border border-white rounded-md"
        >
          <a href="#top">بازگشت به بالا</a>
          <i class="fas fa-chevron-up text-white mr-4"></i>
        </button>
      </div>
    </div>
    <div class="bg-primary text-center py-2">
      <p class="text-white">تمام حقوق این وبسایت متعلق یه سایت فلان میباشد</p>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
  data() {
    return {
      menue: [
        { title: 'منو شماره ۱', id: 1 },
        { title: 'منو شماره ۲', id: 2 },
        { title: 'منو شماره ۳', id: 3 },
        { title: 'منو شماره ۴', id: 4 },
        { title: 'منو شماره ۵', id: 5 },
      ],
    };
  },
};
</script>

<style></style>
