<template>
  <div class="flex flex-col fixed z-50">
    <i
      class="
        fab
        fa-instagram
        text-2xl text-gray-dark
        hover:text-accent
        duration-500
      "
    ></i>
    <i
      class="
        fab
        fa-facebook
        my-2
        text-2xl text-gray-dark
        hover:text-primary
        duration-500
      "
    ></i>
    <i
      class="
        fab
        fa-twitter
        text-2xl text-gray-dark
        hover:text-primary
        duration-500
      "
    ></i>
    <i
      class="
        fab
        fa-linkedin
        my-2
        text-2xl text-gray-dark
        hover:text-primary
        duration-500
      "
    ></i>
  </div>
</template>
<script>
export default {
  name: 'Sidebar',
};
</script>

<style scoped>
div {
  position: fixed;
  right: 5%;
  top: 270px;
}
</style>
