<template>
  <div>
    <div class="flex overflow-hidden w-full lg:w-3/4">
      <div class="hidden" :class="{ active: slidNumber == 1 }">
        <h2 style="font-size: 2rem" class="font-black">سرویس اول</h2>
        <h2 style="font-size: 4.5rem" class="font-bold">تیتر ۱</h2>
        <p class="black" style="font-size: 1rem">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
          ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
          کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
        </p>
      </div>
      <div class="hidden" :class="{ active: slidNumber == 2 }">
        <h2 style="font-size: 2rem" class="font-black">سرویس دوم</h2>
        <h2 style="font-size: 4.5rem" class="font-bold">تیتر ۲</h2>
        <p class="black" style="font-size: 1rem">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
          ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
          کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
        </p>
      </div>
      <div class="hidden" :class="{ active: slidNumber == 3 }">
        <h2 style="font-size: 2rem" class="font-black">سرویس سوم</h2>
        <h2 style="font-size: 4.5rem" class="font-bold">تیتر ۳</h2>
        <p class="black" style="font-size: 1rem">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
          ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
          کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
        </p>
      </div>
      <div class="hidden" :class="{ active: slidNumber == 4 }">
        <h2 style="font-size: 2rem" class="font-black">سرویس چهارم</h2>
        <h2 style="font-size: 4.5rem" class="font-bold">تیتر ۴</h2>
        <p class="black" style="font-size: 1rem">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
          ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
          کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
        </p>
      </div>
    </div>
    <div class="flex justify-center md:justify-start md:mr-64 mt-8">
      <div
        class="circle bg-gray-light"
        :class="{ activeColor: slidNumber == 1 }"
      ></div>
      <div
        :class="{ activeColor: slidNumber == 2 }"
        class="circle bg-gray-light mx-2"
      ></div>
      <div
        :class="{ activeColor: slidNumber == 3 }"
        class="circle bg-gray-light"
      ></div>
      <div
        :class="{ activeColor: slidNumber == 4 }"
        class="circle bg-gray-light mx-2"
      ></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SliderText',
  data() {
    return {
      slidNumber: 1,
    };
  },
  mounted() {
    this.slider();
  },
  methods: {
    slider() {
      setInterval(() => {
        this.slidNumber++;
        if (this.slidNumber > 4) {
          this.slidNumber = 1;
        }
      }, 4000);
    },
  },
};
</script>

<style>
.activeColor {
  background-color: #019cd5 !important;
}
.active {
  display: block !important;
  animation: slider;
  animation-duration: 4s;
  animation-timing-function: ease-out;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
@keyframes slider {
  0% {
    transform: translateX(500px);
  }

  5% {
    transform: translateX(0px);
  }
  90% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(500px);
  }
}
</style>
