<template>
  <section class="flex justify-center mx-5 md:mx-36 pt-52">
    <Slider-text />
    <div class="ml-10 hidden md:block">
      <img
        width="550"
        height="550"
        src="../../../assets/img/Rectangle15.png"
        alt="test"
      />
    </div>
  </section>
</template>

<script>
import SliderText from '@/components/main/topSliderText/SliderText';
export default {
  name: 'TopSlider',
  components: {
    SliderText,
  },
};
</script>

<style></style>
