<template>
  <div>
    <Header id="top" />
    <Sidebar />
    <main>
      <TopSlider id="top" />
      <Feathers id="1" />
      <Slider-section2 id="2" class="px-6 sm:px-0" />
      <Description-card id="3" />
      <Slider-sectin4 id="4" />
      <Form-section id="5" />
    </main>
    <Footer id="6" />
  </div>
</template>
<script>
import Header from '@/components/header/Header';
import Sidebar from '@/components/Sidebar';
import TopSlider from '@/components/main/topSliderText/TopSlider';
import Feathers from '@/components/main/FeaturesCard/Feathers';
import SliderSectin4 from '@/components/main/section-4/SliderSectin4';
import DescriptionCard from '@/components/main/DescriptionCard';
import FormSection from '@/components/main/FormSection';
import Footer from '@/components/Footer';
import SliderSection2 from '@/components/main/section-2/SliderSection2';
export default {
  name: 'App',
  components: {
    Header,
    Sidebar,
    TopSlider,
    Feathers,
    SliderSection2,
    SliderSectin4,
    DescriptionCard,
    FormSection,
    Footer,
  },
};
</script>

<style></style>
